name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  packages: write
  id-token: write

jobs:

  release:
    uses: bzimmer/actions/.github/workflows/release.yaml@main
    secrets: inherit
    with:
      publishDocker: false
